@import "tailwindcss";

@theme{
--color-background: #121212;
--color-primary-text: #eaeaea;
--color-black: #000000;
--color-hover: #181818;
--color-secondary-text: #b3b3b3;
--color-primary: #1db954;
}